.content
  - @tweets.each do |tweet|
    .content__tweet
      -# .content__tweet_top
      -#   .content__tweet_top_icon
      -#   .content__tweet_top_acaunt
      -#     = tweet.name
      .content__tweet_iamge
        .content__tweet_contents
        = link_to image_tag ("cat-2083492_640.jpg"),'/tweets/#{tweet.id}', alt: "test"
      -# .content__tweet_bottm
      -#   .content__tweet_comment
      -#     = tweet.created_at.strftime('%m月%d日')
      -#     %br/
      -#     = tweet.text