.main
  .main__content
    - @tweets.each do |tweet|
      .main__content_tweet
        .main__content_tweet_iamge
          .main__content_tweet_contents
          = image_tag "cat-2083492_640.jpg", size: "298x298", alt: "test"
