* {
  box-sizing: border-box;
}
.header{
  height: 54px;
  width: 100%;
  display: flex;
  
  &__inner{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    clear: both;
    border-bottom: solid 1px gainsboro;
    background-color: white;
    line-height: 54px;
    padding: 0 150px;
    align-items: center;
    a{
      text-decoration: none;
      color: black;
    }
    &_logo{
      height: 54px;
      width: 30%;
      font-size: 35px;
      line-height: 54px;
    }
    &_form{
      height: 27px;
      width: 200px;
      font-size: 14px;
      border: solid 1px gainsboro;
      line-height: 54px;
      text-align: center;
      background-color: honeydew;
    }
    &_akaunnto{
      height: 54px;
      width: 30%;
      line-height: 54px;
      text-decoration: none;
      line-height: 56px;
      text-align: right;
    }
  }
}
.content{
  width: 100%;
  padding: 20px 40px;
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  // background-color: skyblue;
  &__tweet{
    margin: 5px 5px;
    display: block;
    &_top{
      height: 40px;
      width: 298px;
      background-color:beige;
      display: flex;
      &_icon{
        height: 35px;
        width: 35px;
        background-color: peachpuff;
        border-radius: 100px 
      }
      &_acaunt{
        line-height: 40px;
        padding-left: 10px;
      }
    }
    &_iamge{
      height: 300px;
      width: 300px;
    }
    &_bottm{
      height: 78px;
      width: 298px;
      background-color:white;
    }
  }
}
