* {
  box-sizing: border-box;
}
.header{
  height: 54px;
  width: 100%;
  display: flex;
  justify-content:space-between ;
  position: fixed;
  top:0;
  z-index: 10;
  clear: both;
  border: solid 1px gainsboro;
  background-color: white;
  &__logo{
    height: 54px;
    width: 30%;
    font-size: 35px;
    line-height: 54px;
    padding-left: 30px;  
  }
  &__form{
    height: 54px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_box{
      height: 27px;
      width: 100%-50%;
      border: solid 1px gainsboro;
      color: gainsboro;
      text-align: center;
    }
  }
  &__akaunnto{
    height: 54px;
    width: 30%;
    line-height: 54px;
    padding-left: 90px;
    text-decoration: none;
  }
 
}
.content{
  width: 100%;
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  // background-color: skyblue;
  &__tweet{
    height: 50%;
    width: 50%;
    margin: 30px;
    margin-bottom: 80px;
    display: block;
    border-radius: 3px;
    &_contents{
      height: 100%;
      width: 100%;
    }
    // &_top{
    //   height: 40px;
    //   width: 298px;
    //   background-color:beige;
    //   display: flex;
    //   &_icon{
    //     height: 35px;
    //     width: 35px;
    //     background-color: peachpuff;
    //     border-radius: 100px 
    //   }
    //   &_acaunt{
    //     line-height: 40px;
    //     padding-left: 10px;
    //   }
    }
    &_iamge{
      display: inline-block;
      max-width: 100%;
      border-radius: 3px;
    }
    // &_bottm{
    //   height: 78px;
    //   width: 298px;
    //   background-color:white;
    // }
}

