.main
  .main__content
    - @tweet.each do |t|
      = link_to tweet_path(t.id) do
        .main__content_tweet
          .main__content_tweet_iamge
            .main__content_tweet_contents
            = image_tag "#{t.image}", size: "298x298", alt: "test"
